table{
    width: 100% !important;
}

.red{
    color: red;
}

.green{
    color: green;
}

.user-container{
    word-wrap:break-word;
    padding: 7px;
    margin: 3px;
    border-radius: 10px;
    background-color: #00000030
}


