<div class="my-3">
  <div class="my-3 d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <div>
        <h2 class="mb-0">Group Name: {{groupInfo.name}}</h2>
      </div>
      <div class="mx-3">
        <h2 class="mb-0">Members: {{groupInfo.members.length}}</h2>
      </div>
      <div class="mx-3 nophone">
        <h2 class="mb-0">Admin: <img [src]="groupInfo.admin.picture" style="width: 40px;" class="rounded-circle" alt=""> {{groupInfo.admin.name}}</h2>
      </div>
    </div>
    <div class="d-flex">
      <div>
        <button mat-raised-button color="primary" [routerLink]="['summary']">Summary</button>
      </div>
      <div class="mx-3">
        <button mat-raised-button color="primary" (click)="addslip()">New Split</button>
      </div>
      <div>
        <button mat-mini-fab color="primary" class="d-flex" (click)="refresh()">
          <mat-icon class="mx-0">refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="my-2 table-responsive">    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Paid By">
        <th mat-header-cell *matHeaderCellDef> Paid By </th>
        <td mat-cell *matCellDef="let element"> {{element.paid_By.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount | currency: 'INR'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Transaction Date">
        <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionDate | date:'yyyy-MM-dd' }} </td>
      </ng-container>
    
      <ng-container matColumnDef="Split In">
        <th mat-header-cell *matHeaderCellDef> Split In </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container>
            <div class="d-flex">
              <div *ngFor="let user of element.users" class="" color="primary">
                <img [src]="user.picture" width="40px" class="rounded-circle" alt="" title="{{user.name}}"> 
              </div>
            </div>
          </ng-container>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> <mat-icon class="pointer" (click)="deletesliptransaction(element)">close</mat-icon> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>