<div>
    <div>
        <div>
            <h3>List of Credit card</h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Bank Name</th>
                        <th scope="col">Card Name</th>
                        <th scope="col">Limit</th>
                        <th scope="col">Available Limit</th>
                        <th scope="col">Outstanding Amount</th>
                        <th scope="col">Unbilled Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" *ngFor="let cc of creditcardlist">
                        <td scope="row">{{cc.id}}</td>
                        <td>{{cc.bank_Name}}</td>
                        <td>{{cc.card_Name}}</td>
                        <td>{{cc.card_Limit | currency : 'INR'}}</td>
                        <td>{{cc.available_Limit | currency : 'INR'}}</td>
                        <td>{{cc.outstanding_Amount| currency : 'INR'}}</td>
                        <td>{{cc.unbilled_Amount| currency : 'INR'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="my-5">
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <h5><b>Credit Card Statement</b></h5>
                </div>
                <div>
                    <h5><b>Total Statement:</b> {{totalamount() | currency : 'INR'}} </h5>
                </div>
            </div>
            <div class="my-3 table-responsive">
                <table class="table ">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Credit Card Name</th>
                            <th scope="col">Statement Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Minimum Due</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let ccstat of creditcardstatlist">
                            <td scope="row">{{ccstat.creditCard.bank_Name}} {{ccstat.creditCard.card_Name}}</td>
                            <td>{{ccstat.statementDate | date:'MMMM YYYY'}}</td>
                            <td>{{ccstat.amount | currency : 'INR'}}</td>
                            <td>{{ccstat.dueDate | date:'dd MMM YYYY'}}</td>
                            <td>{{ccstat.minimumAmountDue | currency : 'INR'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>