<ngx-spinner 
  type="ball-scale-multiple" 
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff">
</ngx-spinner>

<div>

  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div>
        <button mat-raised-button color="primary" (click)="addslip()">Add New Slip</button>
      </div>
      <div class="mx-3">
        <button mat-raised-button color="primary" [routerLink]="['/summary']">Summary Payment</button>
      </div>
      <!-- <div *ngIf="globalVar.user.uid == '105832569567590837538'">
        <button mat-raised-button color="primary" (click)="addgroup()">Add Group</button>
      </div> -->
      <!-- <div class="mx-3">
        <button mat-raised-button color="primary" (click)="sendSMS()">Send SMS</button>
      </div> -->
    </div>
    <div>
      <button mat-mini-fab color="primary" class="d-flex" (click)="refresh()">
        <mat-icon class="mx-0">refresh</mat-icon>
      </button>
    </div>
  </div>

  <div class="my-4 table-responsive">    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Paid By">
        <th mat-header-cell *matHeaderCellDef> Paid By </th>
        <td mat-cell *matCellDef="let element"> {{element.paid_By.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Transaction Date">
        <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionDate | date:'yyyy-MM-dd' }} </td>
      </ng-container>
    
      <ng-container matColumnDef="Split In">
        <th mat-header-cell *matHeaderCellDef> Split In </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container>
            <div class="d-flex">
              <div *ngFor="let user of element.users" class="user-container" color="primary">
                {{user.name}} 
              </div>
            </div>
          </ng-container>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> <mat-icon class="pointer" (click)="deletesliptransaction(element)">close</mat-icon> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</div>