<div>
    <div>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
              <div class="container">
                <div class="d-flex align-items-center">
                  <img src="../../assets/logo/logo-nobg.png" class="mr-4" width="70px" alt="">
                  <div>
                    <h2 class="mb-0 py-0 pointer navbar-brand" [routerLink]="['/']">Pay Your Share</h2>
                    <h5 class="mb-0 py-0 pointer navbar-brand" [routerLink]="['/']">Payment Splitting made Simple</h5>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                    <button mat-raised-button color="primary" [routerLink]="['/login']">Login</button>
                </div>
              </div>
            </nav>
        </header>
        <div class="hero bg-white">
            <div class="container h-100">
                <div class="d-grid grid-11 gap-3 align-items-center justify-content-between h-100 px-3">
                    <div class="w-100">
                        <h1 class="hero-text poppins-semibold text-secondary">Less stress when sharing expenses with anyone.</h1>
                        <h4>Keep track of your shared expenses and balances with housemates, trips, groups, friends, and family.</h4>
                        <div>
                            <button mat-raised-button color="primary" class="px-5 py-3" [routerLink]="['/login']">Login</button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center notab">
                        <img src="../../assets/logo/logo-nobg.png" style="width: 100%; max-width: 400px;">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="py-5 container">
                <div class="d-grid grid-11 align-items-center gap-4">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="../../assets/screenshot/create-group.jpg" style="width: 300px" alt="">
                    </div>
                    <div>
                        <h2>Simplify Group Payments with Ease</h2>
                        <h4>Introducing the convenience of creating custom groups within the "Pay Your Share" application. Say goodbye to the hassle of individually managing payments with friends and family. With just a few clicks, you can effortlessly create a group and invite members to streamline your payment sharing experience.</h4>
                    </div>
                </div>
            </div>
            <div class="py-5 bg-white">
                <div class="container d-grid grid-11 align-items-center gap-4">
                    <div>
                        <h2>Effortlessly Split Payments in Seconds</h2>
                        <h4>Experience the simplicity of creating payments and dividing them among group members seamlessly. Our intuitive interface allows you to specify the payment details and instantly split it among your selected group members. No more tedious calculations or manual adjustments – just a smooth and efficient payment sharing process.</h4>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="../../assets/screenshot/create-slip.jpg" style="width: 300px" alt="">
                    </div>
                </div>
            </div>
            <div class="py-5 container">
                <div class="d-grid grid-11 align-items-center gap-4">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="../../assets/screenshot/create-feedback.jpg" style="width: 300px" alt="">
                    </div>
                    <div>
                        <h2>Your Feedback Shapes Our Service</h2>
                        <h4>At "Pay Your Share," we value your input and strive to continuously improve our platform. Share your thoughts, suggestions, and experiences with us through our feedback feature. Your feedback not only helps us enhance our services but also ensures that we meet your evolving needs and expectations.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 bg-white">
            <div class="container text-center mb-5">
                <h2 class="header-text">-- Why Choose PYS? --</h2>
            </div>
            <div class="container">
                <div class="d-grid grid-111 gap-5">
                    <div class="p-1 text-center rounded">
                        <div>
                            <img class="mb-3" src="../../assets/icon/sharing-with-friend.png" width="120px" alt="">
                        </div>
                        <div class="px-5">
                            <h2>Asking a friend to return your money can be awkward 🫠</h2>
                            <h4>Receive your money on time with instant settlements.</h4>
                        </div>
                    </div>
                    <div class="p-1 text-center rounded">
                        <div>
                            <img class="mb-3" src="../../assets/icon/pizza.png" width="120px" alt="">
                        </div>
                        <div class="px-5">
                            <h2>Worried about your share when you eat with your friends? 😰</h2>
                            <h4>Now split bills item-wise for any order you make, online or offline.</h4>
                        </div>
                    </div>
                    <div class="p-1 text-center rounded">
                        <div>
                            <img class="mb-3" src="../../assets/icon/network.png" width="120px" alt="">
                        </div>
                        <div class="px-5">
                            <h2>Can't keep track of expenses with flatmates? 👬🏻</h2>
                            <h4>Pay all your home bills on a single platform.</h4>
                        </div>
                    </div>
                    <div class="p-1 text-center rounded">
                        <div>
                            <img class="mb-3" src="../../assets/icon/travel-bag.png" width="120px" alt="">
                        </div>
                        <div class="px-5">
                            <h2>Planning a trip? 🌴</h2>
                            <h4>Leave the hassle of managing all your expenses to us!</h4>
                        </div>
                    </div>
                    <div class="p-1 text-center rounded">
                        <div>
                            <img class="mb-3" src="../../assets/icon/statistics-report.png" width="120px" alt="">
                        </div>
                        <div class="px-5">
                            <h2>Don’t know how much you have to collect? 💸</h2>
                            <h4>Check your Group Payment Summary on the Website.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-3 bg-dark text-white">
            <div class="text-center d-flex justify-content-center">
                <h3 class="mr-4 mb-0">Pay Your Share</h3>
                <h3 class="mb-0">© 2024 All Copyright Reserved</h3>
            </div>    
        </footer>
    </div>
</div>