<ngx-spinner 
  type="ball-scale-multiple" 
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff">
</ngx-spinner>

<div>
  <div class="my-5" *ngIf="showaddslip">
    <div>
      <div class="my-2">
        <label for="name">Name</label>
        <input class="mx-3 px-2" type="text" [(ngModel)]="name">
      </div>
      <div class="my-2">
        <label for="amount">Amount</label>
        <input class="mx-3 px-2" type="text" [(ngModel)]="amount">
      </div>
      <div class="my-2">
        <label for="PaidByUserId">PaidByUserId</label>
        <select class="mx-3 px-2" name="PaidByUserId" id="PaidByUserId" [(ngModel)]="paidByUserId">
          <option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option>
        </select>
        <!-- <input class="mx-3 px-2" type="text" [(ngModel)]="paidByUserId"> -->
      </div>
      <mat-form-field>
        <mat-label>TransactionDate</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="TransactionDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <!-- <div class="my-2">
        <label for="TransactionDate">TransactionDate</label>
        <input class="mx-3 px-2" type="date" [(ngModel)]="TransactionDate">
      </div> -->
      <div>
        <div *ngFor="let data of users">
          <label for="{{data.name}}">{{data.id}} {{data.name}}</label>
          <input class="mx-3" type="checkbox" value="{{data.id}}" id="user" (click)="adduser($event)">
        </div>
      </div>
    </div>
    <div class="my-3">
      <button class="btn btn-primary" (click)="createnewsliptransaction()">Submit</button>
      <button class="btn btn-secondary mx-3" (click)="clearfields()">Clear</button>
    </div>
  </div>

  <div class="d-flex">
    <div>
      <button class="btn btn-primary" (click)="addslip()">Add New Slip</button>
    </div>
    <div class="mx-3">
      <button class="btn btn-primary" [routerLink]="['/summary']">Summary Payment</button>
    </div>
    <div>
      <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    </div>
  </div>

  <div class="my-4 table-responsive">    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Paid By">
        <th mat-header-cell *matHeaderCellDef> Paid By </th>
        <td mat-cell *matCellDef="let element"> {{element.paid_By.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Transaction Date">
        <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionDate | date:'yyyy-MM-dd' }} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Split In">
        <th mat-header-cell *matHeaderCellDef> Split In </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container>
            <div class="d-flex">
              <div *ngFor="let user of element.users" class="user-container">
                {{user.name}} 
              </div>
            </div>
          </ng-container>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- <div class="my-3 table-responsive">
    <table class="table border">
      <thead>
        <tr>
          <th>Name</th>
          <th>Paid By</th>
          <th>Amount</th>
          <th>Transaction Date</th>
          <th style="text-align: center;" colspan="3">Split In</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of slip">
          <td>{{data.name}}</td>
          <td>{{data.paid_By.name}}</td>
          <td>{{data.amount}}</td>
          <td>{{data.transactionDate | date : 'yyyy-MM-dd'}}</td>
          <td *ngFor="let user of data.users">{{user.name}} ( {{data.amount / data.users.length | number:'1.0-0'}} )</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>