<h2 mat-dialog-title>Create new slip</h2>
<mat-dialog-content>
    <form [formGroup]="createform">
        <div class="d-flex justify-content-between">
            <mat-form-field class="mb-0 w-100">
                <mat-label>Reason of Expense</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div class="my-2">
            <mat-form-field floatLabel="always" class="w-100">
                <mat-label>Amount</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" formControlName="amount">
                <span matTextPrefix>₹&nbsp;</span>
                <span matTextSuffix>.00</span>
            </mat-form-field>
        </div>
        <div class="my-2">
            <mat-form-field class="w-100">
                <mat-label>Who Paid?</mat-label>
                <mat-select formControlName="paidByUserId">
                  <mat-option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field>
                <mat-label>TransactionDate</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="TransactionDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [formGroup]='createform' class="w-100">
                <mat-label>Slip In</mat-label>
                <mat-select multiple formControlName="Users" placeholder="Slip In">
                  <mat-option *ngFor="let data of users" [value]="data.id">
                    {{ data.name }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- <button class="btn btn-primary" (click)="createnewsliptransaction()">Submit</button>
    <button class="btn btn-secondary mx-3" (click)="clearfields()">Clear</button> -->
    <button mat-raised-button color="secondary" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="secondary" (click)="clearfields()">Clear</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="createnewsliptransaction()">Submit</button>
</mat-dialog-actions>