<h2 mat-dialog-title>Feedback</h2>
<mat-dialog-content>
    <form [formGroup]="feedbackForm">
        <div class="d-flex justify-content-between">
            <mat-form-field class="mb-0 w-100">
                <mat-label>FeedBack</mat-label>
                <textarea matInput formControlName="Feedback"></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="secondary" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="createFeedback()">Submit</button>
</mat-dialog-actions>