<ngx-spinner 
  type="ball-scale-multiple" 
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff">
</ngx-spinner>
<div>
    <div>
        <div class="table-responsive">
            <table class="table border">
                <thead class="table-secondary">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userslist">
                    <td>{{user.name}}</td>
                    <td [ngClass]="{'red' : calculatesingledebt(user.id,loggedinuser.id) < 0 , 'green' : calculatesingledebt(user.id,loggedinuser.id) > 0}">{{calculatesingledebt(user.id,loggedinuser.id) | currency : 'INR'}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>