<ngx-spinner 
  type="ball-scale-multiple" 
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff">
</ngx-spinner>
<div>
  <div>
    <div class="my-2">
      <h3 class="poppins-medium mb-0"><span class="mr-1">Group Name:</span> {{groupInfo.name}}</h3>
    </div>
    <div class="table-responsive">
      <table class="table border">
        <thead class="table-secondary">
          <tr>
            <th>Name</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userslist">
            <td>{{user.name}}</td>
            <td [ngClass]="{'red' : calculatesingledebt(user.uId, globalVar.user.uid) < 0 , 'green' : calculatesingledebt(user.uId, globalVar.user.uid) > 0}">{{calculatesingledebt(user.uId, globalVar.user.uid) | currency : 'INR'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>