<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <div>
        <img src="../../assets/logo/logo-nobg.png" class="mr-4" width="70px" alt="">
        <a class="navbar-brand" [routerLink]="['/group']">Pay Your Share</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <div class="d-flex align-items-center">
          <div class="mr-1" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/group']">Home</a>
          </div>
          <!-- <div class="mx-2" [routerLinkActive]="['link-active']" *ngIf="globalUser.user.uid == '105832569567590837538'">
            <a class="nav-link text-dark" [routerLink]="['/credit-card']">Credit Card</a>
          </div>
          <div class="mx-2" [routerLinkActive]="['link-active']" *ngIf="globalUser.user.uid == '105832569567590837538'">
            <a class="nav-link text-dark" [routerLink]="['/users']">Users</a>
          </div> -->
          <div class="mx-2 d-flex align-items-center">
              <b class="mr-3 ">Welcome {{user.name}}</b>
              <div class="br50">
                <img [src]="userinfo.picture" class="br50" width="40px" alt="">
              </div>
          </div>
          <div class="ml-1">
            <button mat-raised-button color="primary" (click)="signOut()">Sign out</button>
          </div>
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li> -->
        </div>
      </div>
    </div>
  </nav>
</header>
